<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudgallery.mapper.UserSpaceMapper">

    <resultMap id="BaseResultMap" type="com.cloudgallery.model.entity.UserSpace">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="spaceId" column="space_id" jdbcType="BIGINT"/>
            <result property="spaceRole" column="space_role" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,space_id,
        space_role,create_time
    </sql>
</mapper>
